<footer>
  <div class="footer-container">
    <div class="footer-section left">
      <p class="text">Get in touch</p>
      <div class="contact">
        <p>
          <i class="fas fa-envelope"></i>
          <a href="mailto:example@example.com">example</a>
        </p>
        <p>
          <i class="fas fa-phone"></i>
          <a href="tel:01234567890">01234567890</a>
        </p>
      </div>
    </div>

    <div class="footer-section center">
      <button type="button" class="btn btn-outline-light">Contact Us</button>
    </div>

    <div class="footer-section right">
      <div class="icons">
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-twitter-square"></i>
      </div>
      <p class="copyright">Copyright &copy; 2019 KR</p>
    </div>
  </div>
</footer>
