<section class="portfolio">
  <div class="container">
    <div class="main-title">
      <h2 class="display-4">Portfolio</h2>
    </div>

    <div class="widgets">
      <div class="gray">
        WEB DESIGN
      </div>
      <div class="dark-gray">
        WEB APPLICATION
      </div>
      <div class="gray">
        DEVELOPMENT
      </div>
      <div class="dark-gray">
        MOBILE DESIGN
      </div>
      <div class="gray">
        MOBILE APPLICATION
      </div>
      <div class="dark-gray">
        DEVELOPMENT
      </div>
    </div>
  </div>
</section>
