.container-fluid{
  background-color: #f7f7f7;
}
.about-container {
  display: flex;
  padding: 40px;
  border-radius: 8px;
}

h2 {
  font-size: 2.5rem;
  color: #333;
}

.lead {
  font-size: 1.2rem;
  color: #666;
  line-height: 1.8;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.btn {
  border-radius: 5px;
  font-weight: bold;
}
